.navbar-fixed, .nav, nav{background-color:#EE6E73 !important;}
.logo img{width:140px;height:auto;}
.logo-line{margin-top:-30px;}
.intro{position:absolute;left:0;top:0;width:100%;height:108vh;background-image:url('../img/bg1.jpg');background-repeat:no-repeat;background-attachment:fixed;background-position:center;}
.main{position:relative;top:103vh;text-align:center;}
.card-image, .card{border-radius:10px;}
.card:hover{-webkit-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.footer{margin-top:20px;margin-bottom:30px;color:rgba(0,0,0,.4);}
.footer a{color:rgba(0,0,0,.4);}
.button{background-color:#EE6E73;}
.button:hover{background-color:#EE6E73;}
.button:visited{background-color:#EE6E73;}
.button:active{background-color:#EE6E73;}
.divider{color:#EE6E73;background-color:#EE6E73;}
#preloader{position:fixed;top:0;left:0;text-align:center;z-index:999;width:100vw;height:100vh;background-color:rgba(255, 255, 255, .8);}
.load{margin:0 auto;}
.spinner-red, .spinner-red-only{border-color:#EE6E73 !important;}
.card1 .card-image{height:240px !important;}
.card1 .card-action{border-top:0px !important;}
.card1 .card-action a{margin-right:0px !important;}
.heading{background-color:rgba(0,0,0,.8);width:100% !important;padding:2px !important;font-size:18px !important;font-weight:200 !important;padding-left:8px !important;}
.heading1{color:#3c3c3c !important;width:100% !important;padding:3px !important;font-size:16px !important;font-weight:250 !important;padding-left:8px !important;}
.video{background-color:rgba(0,0,0,0) !important;}
.card:hover{-webkit-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.card-content{color:#3c3c3c;padding:18px !important;height:auto !important;padding-left:10px !important;}
.dis{opacity:0;background-color:rgba(0,0,0,.4);width:100%;height:100%;position:absolute;left:0;top:0;z-index:2;}
.dis:hover{opacity:1;}
.tabs .tab a{color:#EE6E73;}
.tabs .tab a:hover{color:#EE6E73;}
.tabs .indicator{background-color:#EE6E73 !important;}
.subs{
	background-color: #eeeeee;
}
.mar{margin-top: 10px !important;margin-bottom: 10px !important;}
.subs1 select{
	border: none;
	border-bottom: 1px solid #9e9e9e;
	background-color:  inherit;
}
@supports (-webkit-appearance:none) {
    subscity {
        display: none !important;
    }
}   
_:-moz-tree-row(hover), subscity {
    display: none !important;
}    
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    subscity {
       display: none !important;
    }
}  
