.navbar-fixed, .nav, nav{background-color:#000108 !important;}
.button{background-color:#000108 !important;}
.button:hover{background-color:#000108 !important;}
.button:active{background-color:#000108 !important;}
.button:visited{background-color:#000108 !important;}
.divider{color:#000108;background-color:#000108;}
#preloader{position:fixed;top:0;left:0;text-align:center;z-index:999;width:100vw;height:100vh;background-color:rgba(255, 255, 255, .8);}
.load{margin:0 auto;}
.spinner-yellow, .spinner-yellow-only{border-color:#000108 !important;}
.card-image{height:240px !important;}
.card .card-action{border-top:0px !important;}
.card .card-action a{margin-right:0px !important;}
.heading{background-color:rgba(0,0,0,.8);width:100% !important;padding:2px !important;font-size:18px !important;font-weight:200 !important;padding-left:8px !important;}
.heading1{color:#3c3c3c !important;width:100% !important;padding:3px !important;font-size:16px !important;font-weight:250 !important;padding-left:8px !important;}
.video{background-color:rgba(0,0,0,0) !important;}
.card:hover{-webkit-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.card-content{color:#3c3c3c;padding:18px !important;height:auto !important;padding-left:10px !important;}
.dis{opacity:0;background-color:rgba(0,0,0,.4);width:100%;height:100%;position:absolute;left:0;top:0;z-index:2;}
.dis:hover{opacity:1;}
.tabs .tab a{color:#000108;}
.tabs .tab a:hover{color:#000108;}
.tabs .indicator{background-color:#4db6ac !important;}