.loginbody{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.login-container, .mid{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.mid{
	text-align: left;
}
.login-container > .logo{
	width: 150px;
}
.form{
	width: 300px;
	margin-top: 10px;
}
.input > input{
	width: 100%;
	height: 3em;
	margin: 7px 0;
	padding: 5px;
}
.input > button{
	margin: 7px 0;
	width: 100%;
	height: 3em;
	background-color: inherit;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
}
.input .form-control{
	width: 100%;
	height: 3em;
	margin: 7px 0;
	padding: 5px;
}
.main{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.config{
	width: 500px;
	text-align: left;
}
.uppercase{
	text-transform: uppercase;
}
.capital{
	text-transform: capitalize;
}
.radio{
	margin: 7px 0;
}
.radio label{
	font-size: 20px;
	padding-left: 30px;
}
.radio label input[type=radio]{
	width: 18px;
    height: 20px;
    margin-top: 5px;
    margin-left: -30px;
}
.search{
	width: 80%;
}
.pb-0{
	padding-bottom: 0;
}
.p-0{
	padding: 0;
}
.config-btn{
	width: 100%;
	height: 3em;
	background-color: inherit;
	border-top: 1px solid #74a0c5;
	color: #74a0c5;
	text-transform: uppercase;
	border-radius: 0;
	margin-top: 30px;
}
.b-r{
	border-right: 1px solid #74a0c5;
}
.b-l{
	border-left: 1px solid #74a0c5;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide{
	background-color: #fff;
	border: 2px solid #707070;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.59);
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.59);
	-webkit-animation-name: fadeIn;
  	animation-name: fadeIn;
}
.main-image img{
	height: 80vh;
	width: 80vh;
}
.username img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.username{
	padding: 10px 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.username span{
	padding-left: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
}
.dishname{
	padding: 10px 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 80vh;
	overflow: hidden;
	height: 70px;
}
.dishname h2{
	width: 80vh;
	overflow: hidden;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 10px;
	text-overflow: ellipsis;
	height: 30px;
}
.img-grd{
	height: 80vh;
	width: 80vh;
	margin-top: -80vh;
	z-index: 7;
	position: relative;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
	border-radius: 4px;
}
.stars{
	margin-bottom: 10px;
    margin-top: -40px;
    margin-left: 15px;
    z-index: 99;
    position: relative;
}
.stars i{
	margin-left: 5px;
	color: #1c1e20;
}
/*1 star*/
.star-1 i:nth-child(1){
	color: #ffe900;
}

/*2 star*/
.star-2 i:nth-child(1){
	color: #ffe900;
}
.star-2 i:nth-child(2){
	color: #ffe900;
}
/*3 star*/
.star-3 i:nth-child(1){
	color: #ffe900;
}
.star-3 i:nth-child(2){
	color: #ffe900;
}
.star-3 i:nth-child(3){
	color: #ffe900;
}
/*4 star*/
.star-4 i:nth-child(1){
	color: #ffe900;
}
.star-4 i:nth-child(2){
	color: #ffe900;
}
.star-4 i:nth-child(3){
	color: #ffe900;
}
.star-4 i:nth-child(4){
	color: #ffe900;
}
/*5 star*/
.star-5 i:nth-child(1){
	color: #ffe900;
}
.star-5 i:nth-child(2){
	color: #ffe900;
}
.star-5 i:nth-child(3){
	color: #ffe900;
}
.star-5 i:nth-child(4){
	color: #ffe900;
}
.star-5 i:nth-child(5){
	color: #ffe900;
}
.slideshow{
	/*background-color: #000;*/
	/*background: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;*/
}
.slideshowcontainer li{
	list-style-type: none;
}
/*.li-hide{
	transition:2s linear all;
}*/
.hide{
	display: none;
	opacity: 0;
}
.fadein{
	display: block;

}

.fadeout{
    display: none;
}

.suggestionlist{
	list-style: none;
    font-size: 1em;
    padding-left: 8px;
    position: absolute;
    background-color: #fff;
    width: 96%;
    z-index: 999;
    text-transform: capitalize;
}
.suggestionlist li{
	padding: 3px 0;
}
.suggestionlist li:hover{
	background-color: #fafafa;
	padding: 3px 0;
	color: #337ab7
}

.logo-slider{
	position: fixed;
	top: 10px;
	left: 10px;
}
.logo-slider img{
	width: 100px;
	height: auto;
}