<div class="content-mini content-boxed">
    <ul class="nav nav-pills nav-sub-header push">
        <li ui-sref-active="active">
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard push-5-r"></i>Dashboard
            </a>
        </li>
        <li  ui-sref-active="active">
            <a ui-sref="offers">
                <i class="fa fa-briefcase push-5-r"></i>Store
            </a>
        </li>
        <li>
            <a href="bd_customers.html">
                <i class="fa fa-users push-5-r"></i>Customers
            </a>
        </li>
        <li>
            <a href="bd_sales.html">
                <i class="fa fa-paypal push-5-r"></i>Sales
            </a>
        </li>
        <li>
            <a href="bd_settings.html">
                <i class="fa fa-cog push-5-r"></i>Settings
            </a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-coffee push-5-r"></i>More <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0)">Payment</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Privacy</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0)">Shop</a>
                </li>
            </ul>
        </li>
    </ul>
</div>