<div id="page-container" class="sidebar-l side-scroll header-navbar-fixed">
    <!-- Side Overlay-->
    <aside id="side-overlay" ui-view="sidebar" style="display: block !important;">
        
    </aside>
    <!-- END Side Overlay -->

    <!-- Header -->
    <header id="header-navbar" ui-view="header">
        
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Sub Header -->
        
        <!-- <div class="bg-primary-lighter collapse navbar-collapse remove-padding" id="sub-header-nav" ui-view="subnav">
            
        </div> -->
        <!-- END Sub Header -->
        <div class="content content-boxed" ui-view="couponcode" style="background-color: #f5f5f5; padding-bottom: 30px; ">
            
        </div>
        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- Section -->
            <!-- <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('assets/img/photos/photo29@2x.jpg');">
                <div class="bg-black-op">
                    <div class="content">
                        <div class="block block-transparent block-themed text-center">
                            <div class="block-content">
                                <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Dashboard</h1>
                                <h2 class="h4 font-w400 text-white-op animated fadeInUp">Welcome Administrator.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- END Section -->

            <!-- Stats -->
            <!-- <div class="row text-uppercase">
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="text-muted">
                                <small><i class="si si-calendar"></i> Today</small>
                            </div>
                            <div class="font-s12 font-w700">Unq Visitors</div>
                            <a class="h2 font-w300 text-primary" href="bd_dashboard.html" data-toggle="countTo" data-to="96780"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="text-muted">
                                <small><i class="si si-calendar"></i> Today</small>
                            </div>
                            <div class="font-s12 font-w700">Prd Sales</div>
                            <a class="h2 font-w300 text-primary" href="bd_dashboard.html" data-toggle="countTo" data-to="680"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="text-muted">
                                <small><i class="si si-calendar"></i> Today</small>
                            </div>
                            <div class="font-s12 font-w700">Earnings</div>
                            <a class="h2 font-w300 text-primary" href="bd_dashboard.html" data-toggle="countTo" data-to="63000" data-before="$ "></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="block block-rounded">
                        <div class="block-content block-content-full">
                            <div class="text-muted">
                                <small><i class="si si-calendar"></i> Today</small>
                            </div>
                            <div class="font-s12 font-w700">Average Sale</div>
                            <a class="h2 font-w300 text-primary" href="bd_dashboard.html" data-toggle="countTo" data-to="249" data-before="$ "></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- END Stats -->

            <div class="block" >
                <div class="block-header">
                    
                    <h3 class="block-title">Live Offers</h3>
                </div>
                <div class="block-content">
                    <div class="text-center" style="padding-bottom: 20px; color:#9e9e9e;" ng-show="nodata">
                        <div style="padding-bottom: 30px;">
                            <i class="fa fa-4x fa-frown-o" aria-hidden="true"></i>
                        </div>
                        <h2>There is No Live Offer</h2>
                    </div>
                    <table class="table table-striped table-borderless table-header-bg" ng-hide="nodata">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">#</th>
                                <th>Offer</th>
                                <th>Total</th>
                                <th>Claimed</th>
                                <th>Reedeemed</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="offer in offerList">
                                <td class="text-center">{{ $index +1 }}</td>
                                <td>{{ offer.shortDescription }}</td>
                                <td>{{ offer.totalQuantity }}</td>
                                <td>{{ offer.totalQuantity - offer.availableQuantity }}</td>
                                <td>{{ offer.totalRedeemed }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-info" title="history" type="button" ng-click="getHistory(offer.storeItemId);"><i class="fa fa-history" aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <footer id="page-footer" class="bg-body font-s12" style="position: fixed; left: 0; right :0 ; bottom: 0;">
        <div class="content-mini content-mini-full content-boxed clearfix push-15">
            <div class="pull-right">
                Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://foodtalk.in" target="_blank">FoodTalk</a>
            </div>
            <div class="pull-left">
                <a class="font-w600" href="http://foodtalk.in" target="_blank">Digital Food Talk Pvt. Ltd.</a> &copy; <span class="js-year-copy"></span>
            </div>
        </div>
    </footer>
    <!-- END Footer -->
</div>

<!-- Top Modal -->
<div class="modal fade" id="modal-history" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Offer History</h3>
                </div>
                <div class="block-content">
                    
                    <table class="table table-striped table-borderless table-header-bg">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">#</th>
                                <th>Coupon Code</th>
                                <th>Claime Date</th>
                                <th>Reedeeme Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="history in history">
                                <td class="text-center">{{ $index +1 }}</td>
                                <td>{{ history.metaData.couponCode }}</td>
                                <td>{{ history.purchaseDate }}</td>
                                <td>{{ history.redeemDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END Top Modal -->