/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a:focus {
	outline: none;
}
a:hover, a:active {
	outline: 0;
}
h1 {
	font-size: 2em;
	margin: 0;
}
h2 {
	font-size: 1.5em;
	margin: 0;
}
h3 {
	font-size: 1.17em;
	margin: 0;
}
h4 {
	font-size: 1em;
	margin: 0;
}
h5 {
	font-size: 0.83em;
	margin: 0;
}
h6 {
	font-size: 0.75em;
	margin: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dl, menu, ol, ul {
	margin: 1em 0;
}
dd {
	margin: 0 0 0 40px;
}
menu, ol, ul {
	padding: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
form {
	margin: 0;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
 *vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
 *overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Fonts */

@font-face {
	src: url("../fonts/JohnnieWalkerSans-Bold.otf");
	font-style: normal;
	font-family: 'johnnie-bold';
}
@font-face {
	src: url("../fonts/JohnnieWalkerSans-Book.ttf");
	font-style: normal;
	font-family: "johnnie-regular";
}
.regular {
	font-family: 'johnnie-regular';
}
.bold {
	font-family: 'johnnie-bold';
}
html, body {
	font-family: "johnnie-regular";
	background-color: #fff;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	margin: 0;
	padding: 0;
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-ms-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
@keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-moz-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-webkit-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: rgba(70,70,70,0.85);
	box-shadow: 0px 0px 19px 14px rgba(0, 0, 0, 0.2);
	font-family: 'johnnie-bold';
}
.container {
	width: 100%;
	max-width: none;
	padding: 0 120px;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px 0;
}
.navbar-nav {
	width: 100%;
	float: none;
	margin: 0;
	padding: 10px 60px;
}
.navbar-nav>li>a {
	color: #bb9959;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
.header-bg {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 55%;
}
.restaurant-info {
	position: absolute;
	width: 100%;
	top: 350px;
	right: 120px;
}
.restaurant-info .inner {
	width: 38%;
	margin-left: auto;
}
.restaurant-info:after {
	clear: both;
	display: table;
}
.restaurant-info .one {
	position: relative;
}
.img-section {
	position: relative;
	overflow: hidden;
	height: 100vh;
}
.restaurant-info .one:after {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	content: '';
	height: 90%;
	width: 4px;
	background-color: #bb9959;
	margin: auto;
}
.ml-auto {
	margin-left: auto;
}
.image-blocks {
	position: relative;
	padding: 110px 0 220px 0;
}
.grid-box {
	width: 30%;
	position: relative;
	display: inline-block;
}
.mt-3 {
	top: 120px;
	margin-top: 0 !important;
	position: relative;
}
.mt-4 {
	top: 160px;
	margin-top: 0 !important;
	position: relative;
}
.image-blocks .image-layout-portrait {
	position: relative;
	max-width: 420px;
	margin: 0 auto;
}
.image-blocks .image-layout-landscape {
	position: relative;
	max-width: 520px;
	margin: 0 auto;
}
.wauto
{
	width: auto;
}
.hauto
{
	height: 560px;
}
.mr-auto {
	margin: 0 0 0 auto!important;
}
.image-blocks .image-layout-portrait p, .image-blocks .image-layout-landscape p {
	text-transform: uppercase;
	margin-top: 12px;
	font-size: 22px;
	letter-spacing: 3px;
}
.image-blocks .img-responsive {
	margin: 0 auto;
}
.image-blocks .row {
	margin-bottom: 2em;
}
footer
{
	padding: 220px 0;
	margin-top: 14em;
	background: url("../img/footer-bg.png") no-repeat right #bb9959;
	background-size: contain;
}
footer p
{
	margin: 0.6em 0;
}
.social-link ul
{
	list-style: none;
	padding: 0;
	
}
.social-link ul li
{
	display: inline-block;
	margin-right: 40px;
}
.social-link ul li:last-of-type
{
	margin-right: 0;
}
.social-link ul li a
{
	display: block;
}
@media(max-width:1600px)
{
	.image-blocks
	{
		padding-top: 70px;
	}
	.grid-box
	{
		width: 35%;
	}
}
@media(max-width:1440px)
{
	.restaurant-info
	{
		right: 160px;
		top: 310px;
	}
	.grid-box {
    width: 42%;
}
	.navbar-nav>li>a
	{
		font-size: 20px;
	}
}
@media(max-width:1280px)
{
	.grid-box
	{
		width: 30%;
		margin-right: 60px;
	}
	.grid-box.mt-3,.grid-box.mt-4
	{
		margin-right: 0;
		
	}
	.row.justify-content-center.mt-4 .grid-box:last-of-type
	{
		margin-right: 0;
	}
	.image-blocks .image-layout-portrait p, .image-blocks .image-layout-landscape p
	{
		font-size: 18px;
	}
	footer
	{
		padding: 150px 0;
	}
}
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-min-device-pixel-ratio: 1)
{
	.img-section
	{
		height: 60vh;
	}
	
}

@media(max-width:1024px)
{
	.container
	{
		padding: 0 90px;
	}
	.navbar-nav>li>a {
    font-size: 18px;
}
	.image-blocks .image-layout-portrait p, .image-blocks .image-layout-landscape p {
    font-size: 16px;
}
	.header-bg
	{
		width: 63%;
	}
	.image-blocks
	{
		padding-top: 0;
	}
	footer
	{
		margin-top: 8em;
	}
}
@media(max-width:768px)
{
	.img-section
	{
		height: 60vh;
	}
	.header-bg
	{
		width: 75%;
	}
	.container
	{
		padding: 0 80px;
	}
	.grid-box
	{
		width: 42%;
	}
	.image-blocks .image-layout-portrait p, .image-blocks .image-layout-landscape p
	{
		white-space: nowrap;
	}
	footer
	{
		background-size: cover;
	}
	.restaurant-info {
    right: 80px;
    top: 300px;
}
	
	.navbar-nav>li>a
	{font-size: 16px;}
	
	.navbar-nav
	{
		flex-direction: row;
	}
	
}
@media(max-width:600px)
{
	
	.navbar-nav
	{
		flex-direction: column;
		
		background-color: rgba(70,70,70,0.95)
	}
	.navbar
	{
		height: 70px;
		padding: 15px 20px;
	}
	.navbar-collapse
	{
		width: 100%;
		position: relative;
		top: 14px;
		margin: 0 -21px;
	}
	.nav-item.ml-auto
	{
		margin: 0 !important;
	}
	.navbar-nav>li>a
	{
		white-space: nowrap;
	}
	.restaurant-info .one:after
	{
		right: -18px;
	}
	.header-bg
	{
		width: 80%;
	}
	.restaurant-info .inner
	{
		width: 55%;
	}
	.restaurant-info
	{
		top: 240px;
		right: 60px;
	}
	.container
	{
		padding: 0 40px;
	}
	.navbar-toggler
	{
		border: 1px solid #fff;
	}
	.img-section{
		height: 50vh;
	}
	.grid-box
	{
		width: 100%;
		margin: 0 auto !important;
	}
	.mr-auto
	{
		margin: 0 auto !important;
	}
	.image-blocks
	{
		padding-bottom: 100px;
	}
	footer
	{
		margin-top: 0;
	}
	.mt-3,.mt-4
	{
		top: auto !important;
	}
}
@media(max-width:414px)
{
	.img-section
	{
		height: 70vh;
	}
}
@media(max-width:375px)
{
	.img-section
	{
		height: 60vh;
	}
}
@media(max-width:360px)
{
	.img-section
	{
		height: 80vh;
	}
	.social-link ul img
	{
		width: 40px;
	}
}