Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        
                        <a href="index.html" class="logo">
                            <i class="icon-c-logo"> <img src="assets/images/foodtalk_sm.png" height="42"/> </i>
                            <span><img src="assets/images/foodtalk.png" height="20"/></span>
                        </a>
                    </div>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            

                            <ul class="nav navbar-nav navbar-right pull-right">
                              <li class="top-menu-item-xs">
                                <p ng-click="logout()" style="font-size: 18px;
                                    color: #fafafa;
                                    margin-top: 15px;
                                    margin-right: 10px;
                                    cursor: pointer;">Logout</p>
                              </li>
                               <!--  <li class="dropdown top-menu-item-xs">
                                    <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            
            <div class=""> 
                <!-- Start content -->
                <div class="content" style="margin-bottom: 60px;margin-top: 60px;padding: 20px 5px 15px 5px;">
                    <div class="container">

                        <!-- Page-Title -->
                        <!-- <div class="row">
                          <div class="col-sm-12 p-30 p-t-0 p-b-0">
                            <h4 class="page-title">Dashboard</h4>
                            <p class="text-muted page-title-alt">Welcome to FoodTalk admin panel !</p>
                          </div>
                        </div> -->
                        
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                            <!-- coupon code enter -->
                              <div class="col-md-8 col-md-offset-2">
                                <div class="input-group m-t-10">
                                  <input type="text" class="form-control" ng-model="couponcode" placeholder="Coupon code" style="text-transform:uppercase">
                                  <span class="input-group-btn">
                                    <button type="button" ng-click="getCodeData()" class="btn waves-effect waves-light btn-primary">Submit</button>
                                  </span>
                                </div>
                              </div>

                              <!-- history -->
                              <!-- <div class="col-md-12">
                                <div class="card-box m-t-30">
                                  <h4 class="text-dark header-title m-t-0">History</h4>
                                  <p class="text-muted font-13">
                                    Your awesome text goes here.
                                  </p>
                                  
                                  <div class="nicescroll p-20" style="height: 300px;">
                                    <div class="timeline-2">


                                      <div class="time-item">
                                          <div class="item-info">
                                              <div class="text-info">DSC000586</div>
                                              <h5 class="m-0">Buy one get One free</h5>
                                              <p class="text-muted"><small>12 Aug. 2016</small></p>
                                          </div>
                                      </div>
                                      <div class="time-item">
                                          <div class="item-info">
                                              <div class="text-info">DSC000586</div>
                                              <h5 class="m-0">Buy one get One free</h5>
                                              <p class="text-muted"><small>12 Aug. 2016</small></p>
                                          </div>
                                      </div>
                                      <div class="time-item">
                                          <div class="item-info">
                                              <div class="text-info">DSC000586</div>
                                              <h5 class="m-0">Buy one get One free</h5>
                                              <p class="text-muted"><small>12 Aug. 2016</small></p>
                                          </div>
                                      </div>
                                      <div class="time-item">
                                          <div class="item-info">
                                              <div class="text-info">DSC000586</div>
                                              <h5 class="m-0">Buy one get One free</h5>
                                              <p class="text-muted"><small>12 Aug. 2016</small></p>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                        
                                </div>
                              </div> -->
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                              <div class="col-md-8 col-md-offset-2">
                                <div class="m-t-30 text-center " ng-show="defaultpage">
                                  <img src="assets/images/default.png" alt="" style="width: 70%;height: auto;">
                                </div>
                                <div class="m-t-30 text-center" ng-show="invaliddata">
                                  <img src="assets/images/invalid.png" alt="" style="width: 70%;height: auto;">
                                </div>
                                <div class="m-t-30 text-center" ng-show="Reedeemfail">
                                  <img src="assets/images/invalid.png" alt="" style="width: 70%;height: auto;">
                                </div>
                                <div class="m-t-30 text-center" ng-show="Reedeemsuccess">
                                  <img src="assets/images/success.png" alt="" style="width: 70%;height: auto;">
                                </div>
                                <div class="m-t-30" ng-show="alldatatrue">
                                  <div class="card-box p-0 m-t-30" >
                                    <div class="row">
                                      <div class="col-md-12 text-center">
                                        <img src="{{couponDetails.storeOffer.coverImage}}" alt="" class="img-responsive" >
                                      </div>
                                    </div>
                                    <div class="row p-30 p-t-0">
                                      <div class="col-md-12">
                                        <h3 class="text-center">{{couponDetails.storeOffer.title}}</h3>
                                        <div class="row text-center">
                                          <div class="col-md-6 col-sm-6 col-xs-6 "><p class="text-muted m-0"><small>Valid Till</small></p>
                                          <p>{{couponDetails.storeOffer.validTill | date}}</p></div>
                                          <div class="col-md-6 col-sm-6 col-xs-6 "><p class="text-muted m-0"><small>Where</small></p>
                                          <p>{{couponDetails.storeOffer.cityText}}</p></div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <p class="text-center">
                                            {{couponDetails.storeOffer.description}}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div >
                                    <label>
                                      <input type="checkbox" ng-model="Iagree"> Check me out
                                    </label>
                                  </div>
                                  <button class="btn btn-success" style="width: 100%" ng-click="Reedeemcoupon()">Reedeem</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right" style="left:0">
                    © 2017. All rights reserved.
                </footer>

            </div>


           

        </div>
        <!-- END wrapper