<div class="main">
	<div class="mid">
		<div class="slide">
			<div class="username">
				<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13417638_1069134683156791_6462329608829501464_n.jpg?oh=5a3c2ed49dc06f8bc868d5d01272f419&oe=57F00770" alt="">
				<span>RCHSHRM</span>
			</div>
			<div class="main-image">
				<img src="http://res.cloudinary.com/digital-food-talk-pvt-ltd/image/upload/f_jpg/v1468051846/twmnoaa14xoivl3mc4n6.jpg" alt="">
				<div class="img-grd"></div>
				<p id="stars" class="star-4 stars">
					<i class="fa fa-star fa-2x" aria-hidden="true"></i>
					<i class="fa fa-star fa-2x" aria-hidden="true"></i>
					<i class="fa fa-star fa-2x" aria-hidden="true"></i>
					<i class="fa fa-star fa-2x" aria-hidden="true"></i>
					<i class="fa fa-star fa-2x" aria-hidden="true"></i>
				</p>
			</div>
			<div class="dishname">
				<h2>YOGHURT PARFAIT</h2>
			</div>
		</div>
	</div>
</div>